* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxes-container {
    margin: 50px auto;
    margin-bottom: 0px;
    width: 1000px;
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    height: 150px;
    margin: 50px;
    font-size: 60px;
    text-align: center;
    font-family: monospace;
    line-height: 150px;
    flex: 0 0 150px;
}

.box-animation {
    margin: 0 auto;
    margin-top: 400px;
    height: 300px;
    width: 300px;
    font-size: 100px;
    text-align: center;
    font-family: monospace;
    line-height: 280px;
    opacity: 0;
    transition: margin-top 1s, opacity 1s;
}

.box-animation-transition {
    margin: 0 auto;
    margin-top: 20px;
    opacity: 1;
} 

@media (max-width: 1024px) {
    .boxes-container {
        width: 90%;
    }

    .box {
        margin: 20px;
    }
}

@media (max-width: 375px) {
    .box {
        margin: 5px;
        font-size: 40px;
        height: 120px;
        flex: 0 0 120px;
        line-height: 120px;
    }

    .box-animation {
        height: 200px;
        width: 200px;
        font-size: 70px;
        line-height: 200px;
    }
}