* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxes-container {
    margin: 50px auto;
    width: 950px;
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    height: 100px;
    margin: 50px;
    font-size: 50px;
    text-align: center;
    font-family: monospace;
    line-height: 100px;
    flex: 0 0 100px;
}

.box-animation {
    margin: 0 auto;
    margin-top: 400px;
    height: 300px;
    width: 300px;
    font-size: 100px;
    text-align: center;
    font-family: monospace;
    line-height: 280px;
    opacity: 0;
    transition: margin-top 1s, opacity 1s;
}

.box-animation-transition {
    margin: 0 auto;
    margin-top: 20px;
    opacity: 1;
} 